doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, minimal-ui')
    link(rel='stylesheet' href='build/styles.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/vue/0.11.5/vue.min.js')
    script(src='build/main.js')
  body
    ul#card-container
      li(v-repeat='cards'
         v-on='click: selected = !selected'
         class='card {{ selected ? "selected" : "" }}')
        p(class='{{ isAmbiguous ? "ambiguous": ""}}') {{ text }}
