@charset "UTF-8";

$colors:
  #bdc3c7,
  #2980b9,
  #27ae60,
  #16a085,
  #f39c12,
  #d35400,
  #c0392b,
  #8e44ad,
  #2c3e50;

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

#card-container {
    width: 320px;
    margin-right: auto;
    margin-left: auto;

    color: white;
    font-family: 'Avenir', Futura, Helvetica, sans-serif;
}

.card {
    cursor: pointer;
    width: 150px;
    height: 150px;
    font-size: 100px;

    float: left;
    margin: 5px;
    border-radius: 10px;

    display: table;
    text-align: center;

    p {
        display: table-cell;
        vertical-align: middle;

        &.ambiguous {
            text-decoration: underline;
        }
    }

    /* card background colors */
    @for $i from 1 through length($colors) {
        &:nth-child(#{$i}) {
            background-color: nth($colors, $i);
        }
    }
    &:nth-child(n + #{length($colors)}) {
        background-color: nth($colors, length($colors));
    }
}

.card.selected {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;

    p {
        font-size: 300px;
    }
}
